{% extends 'aluno/base.html' %}

{% block main %}
<main class="flex">
    <div class="sticky top-0 w-[250px] h-screen bg-neutral-50 border-r border-neutral-300">
        <ul>
            <li class="px-4 py-2 hover:bg-slate-300 rounded m-4 hover:text-white transition-colors duration-100 font-medium">
                <a href="{% url 'aluno_turma_details' turma.id %}">Turma</a>
            </li>
            <li class="px-4 py-2 hover:bg-slate-300 rounded m-4 hover:text-white transition-colors duration-100">
                <a href="{% url 'aluno_turma_boletim' turma.id %}">Boletim</a>
            </li>
        </ul>
    </div>
    <div class="p-4 pb-20 w-full flex flex-col items-center">
        <h1 class="text-2xl font-semibold mb-4">Boletim</h1>
        <h2 class="text-xl font-medium mb-8">{{ turma.disciplina.nome }}</h2>
        
        <hr class="border-neutral-300 w-full my-8"/>
        
        <h3 class="text-xl font-medium mb-8">Notas</h3>
        <table>
            <tr>
                <th>Avaliação</th>
                <th>Nota</th>
            </tr>
            {% for nota in notas %}
                <tr>
                    <td>{{ nota.avaliacao }}</td>
                    <td>{{ nota.nota }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="2">Não há notas registradas.</td></tr>
            {% endfor %}
        </table>
        
        <hr class="border-neutral-300 w-full my-8"/>
        
        <h3 class="text-xl font-medium mb-8">Frequência</h3>
        <table>
            <tr>
                <th>Data</th>
                <th>Presença</th>
            </tr>
            {% for freq in frequencia %}
                <tr>
                    <td>{{ freq.data }}</td>
                    <td>{% if freq.presente %}Presente{% else %}Ausente{% endif %}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">
                        Não há frequência registrada.
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</main>
{% endblock %}
