{% extends 'aluno/base.html' %}

{% block content %}
    
        <h1 class="text-2xl font-semibold mb-2">{{ turma.disciplina.nome }}</h1>
        <h2 class="text-xl font-medium mb-8">Turma {{ turma.semestre }}</h2>
        
        <h2 class="text-xl font-medium mb-2">Notícias</h2>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Data</th>
                    <th></th>
                </tr>
            </thead>
        
            {% for atividade in turma.atividades.all %}
            <tr>
                <td>{{ atividade.titulo }}</td>
                <td>{{ atividade.data_limite }}</td>
                <td><a href="{% url 'aluno_atividade_details' atividade.id %}">Acessar</a></td>
            </tr>
            {% empty %}
                <tr>
                    <td>
                        Não há atividades cadastradas nessa turma.
                    </td>
                </tr>
            {% endfor %}
        </table>
        <hr class="border-slate-400 w-full max-w-[62%]"/>
        <h2 class="text-xl font-medium mb-2 mt-8">Atividades</h2>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Data limite</th>
                    <th>Acessar</th>
                </tr>
            </thead>
        
            {% for atividade in turma.atividades.all %}
            <tr>
                <td>{{ atividade.titulo }}</td>
                <td>{{ atividade.data_limite }}</td>
                <td><a href="{% url 'aluno_atividade_details' atividade.id %}">Acessar</a></td>
            </tr>
            {% empty %}
                <tr>
                    <td>
                        Não há notícias cadastradas nessa turma.
                    </td>
                </tr>
            {% endfor %}
        </table>
        

        <!-- <h3>Sua Frequência</h3>
        <ul>
            {% for frequencia in frequencias %}
                <li>{{ frequencia.data }}: 
                    {% if frequencia.presente %}
                        Presente
                    {% else %}
                        Ausente
                    {% endif %}
                </li>
            {% empty %}
                <li>Não há registros de frequência.</li>
            {% endfor %}
        </ul> -->
    
        <!-- <h3>Suas Notas</h3>
        <ul>
            {% for nota in notas %}
                <li>{{ nota.turma.disciplina.nome }} - Avaliação {{ nota.avaliacao }}: {{ nota.nota }}</li>
            {% empty %}
                <li>Não há notas registradas.</li>
            {% endfor %}
        </ul> -->
{% endblock%}