{% extends 'aluno/base.html' %}

{% block content %}
    <div id="content">
        <h2>Turma: {{ turma.disciplina.nome }}</h2>
        <h3>Atividades</h3>

        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Data limite</th>
                    <th>Acessar</th>
                </tr>
            </thead>
        
            {% for atividade in turma.atividades.all %}
            <tr>
                <td>{{ atividade.titulo }}</td>
                <td>{{ atividade.data_limite }}</td>
                <td><a href="{% url 'aluno_atividade_details' atividade.id %}">Acessar</a></td>
            </tr>
            {% empty %}
                <tr>
                    <td>
                        Não há atividades cadastradas nessa turma.
                    </td>
                </tr>
            {% endfor %}
        </table>
        
        <!-- <h3>Sua Frequência</h3>
        <ul>
            {% for frequencia in frequencias %}
                <li>{{ frequencia.data }}: 
                    {% if frequencia.presente %}
                        Presente
                    {% else %}
                        Ausente
                    {% endif %}
                </li>
            {% empty %}
                <li>Não há registros de frequência.</li>
            {% endfor %}
        </ul> -->
    
        <!-- <h3>Suas Notas</h3>
        <ul>
            {% for nota in notas %}
                <li>{{ nota.turma.disciplina.nome }} - Avaliação {{ nota.avaliacao }}: {{ nota.nota }}</li>
            {% empty %}
                <li>Não há notas registradas.</li>
            {% endfor %}
        </ul> -->
    </div>
    
{% endblock%}