{% extends 'aluno/base.html' %}

{% block main %}
<main class="flex">
    <div class="sticky top-0 w-[250px] h-screen bg-neutral-50 border-r border-neutral-300">
        <ul>
            <li class="px-4 py-2 hover:bg-slate-300 rounded m-4 hover:text-white transition-colors duration-100 font-medium">
                <a href="{% url 'aluno_turma_details' turma.id %}">Turma</a>
            </li>
            <li class="px-4 py-2 hover:bg-slate-300 rounded m-4 hover:text-white transition-colors duration-100">
                <a href="{% url 'aluno_turma_boletim' turma.id %}">Boletim</a>
            </li>
        </ul>
    </div>
    <div class="p-4 pb-20 w-full flex flex-col items-center">
        <h1 class="text-2xl font-semibold mb-2">{{ turma.disciplina.nome }}</h1>
        <h2 class="text-xl font-medium mb-8">Turma {{ turma.semestre }}</h2>
        <hr class="border-neutral-300 w-full my-8"/>

        <h2 class="text-xl font-medium mb-2">Notícias</h2>

        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Conteúdo</th>
                    <th>Data</th>
                </tr>
            </thead>

            {% for noticia in turma.noticias.all %}
            <tr>
                <td>{{ noticia.titulo }}</td>
                <td>{{ noticia.conteudo }}</td>
                <td>{{ noticia.data }}</td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Não há notícias cadastradas nessa turma.</td>
                </tr>
            {% endfor %}
        </table>
        
        <hr class="border-neutral-300 w-full mt-8"/>
        <h2 class="text-xl font-medium mb-2 mt-8">Atividades</h2>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Data limite</th>
                    <th>Acessar</th>
                </tr>
            </thead>
        
            {% for atividade in turma.atividades.all %}
            <tr>
                <td>{{ atividade.titulo }}</td>
                <td>{{ atividade.data_limite }}</td>
                <td><a href="{% url 'aluno_atividade_details' atividade.id %}">Acessar</a></td>
            </tr>
            {% empty %}
                <tr>
                    <td>
                        Não há notícias cadastradas nessa turma.
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</main>
{% endblock %}