{% extends 'administrador/generic_list.html' %}

{% block table %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Acessar</th>
        </tr>
    </thead>

    {% for curso in cursos %}
    <tr>
        <td>{{ curso.id }}</td>
        <td>{{ curso.nome }}</td>
        <td>{{ curso.descricao }}</td>
        <td><a href="{% url 'administrador_curso_details' curso.id %}">Acessar</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}