{% extends 'administrador/generic_list.html' %}


{% block table %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Carga horária</th>
            <th>Acessar</th>
        </tr>
    </thead>

    {% for disciplina in disciplinas %}
    <tr>
        <td>{{ disciplina.id }}</td>
        <td>{{ disciplina.nome }}</td>
        <td>{{ disciplina.carga_horaria }}h</td>
        <td>
            <a 
                class="rounded border bg-white text-blue-500 border-blue-500 p-2 hover:bg-blue-400 hover:no-underline hover:text-white"
                href="{% url 'administrador_disciplina_details' disciplina.id %}"
            >
                Acessar
            </a>
            </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}