{% extends 'administrador/base.html' %}

{% block content %}
<h1 class="text-2xl font-semibold mb-8">{{ page_title}}</h1>

<div class="w-3/5 p-4 rounded-lg bg-white border-neutral-300 border shadow">
    <div class="w-full flex gap-2 mb-4">
        <form class="w-full flex gap-2 h-fit">
            <input placeholder="Pesquisar" type="text" name="q" class="w-full"/>
            <button type="submit" class="h-fit px-4 py-1 border border-slate-500 text-slate-500 hover:bg-slate-300 transition-colors duration-200 rounded">Pesquisar</button>
        </form>
        <button type="button" class="h-fit px-4 py-1 bg-white text-nowrap border border-green-500 text-green-500 p-2 rounded hover:bg-green-400 hover:text-white transition-colors duration-100" onclick="location.href='{{add_link }}'">+ Add</button>        
    </div>
    
    {% block table %}
    {% endblock %}
</div>
{% endblock %}