{% extends 'administrador/base.html' %}

{% block content %}
<h1 class="text-center text-xl font-semibold mb-8">Criar turma</h1>
<form method="post" class="flex flex-col items-start w-full max-w-lg p-4 bg-white shadow rounded-lg border border-neutral-300">
    {% csrf_token %}
    
    <label for="id_disciplina">Disciplina:</label>
    <select name="disciplina" required="" id="id_disciplina" class="w-full bg-white rounded-lg border-slate-400 border px-3 py-2 mb-4">
        <option value="" selected="">---------</option>
        <option value="1">Engenharia de software</option>
    </select>
    
    <label for="id_semestre">Semestre:</label>
    <input type="text" name="semestre" maxlength="6" required="" id="id_semestre"  class="w-full bg-white rounded-lg border-slate-400 border px-3 py-2 mb-4">
  
    <label for="id_professores">Professores:</label>
    <select name="professores" id="id_professores" multiple=""  class="w-full bg-white rounded-lg border-slate-400 border px-3 py-2 mb-4">
        <option value="1">Professor</option>
    </select>
    
    <label for="id_alunos">Alunos:</label>
    <select name="alunos" id="id_alunos" multiple=""  class="w-full bg-white rounded-lg border-slate-400 border px-3 py-2 mb-4">
        <option value="1">Aluno</option>
    </select>
    
    <div class="flex w-full gap-4 mt-4">
        <button 
            class="w-full px-2 py-1 border rounded border-gray-500 text-gray-500 hover:text-white hover:bg-gray-600"
            type="button"
            onclick="alert('hi')"
        >
            Voltar
        </button>
        <input
            type="submit"
            value="Criar turma"
            class="w-full px-2 py-1 border rounded border-green-500 text-green-500 hover:text-white hover:bg-green-600"
        />
    </div>
    
</form>
{% endblock %}