{% extends 'administrador/generic_list.html' %}

{% block table %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Dsiciplina</th>
            <th>Semestre</th>
            <th>Acessar</th>
            <th>Excluir</th>
        </tr>
    </thead>

    {% for turma in turmas %}
    <tr>
        <td>{{ turma.id }}</td>
        <td>{{ turma.disciplina.nome }}</td>
        <td>{{ turma.semestre }}º semestre</td>
        <td>
            <a 
                class="rounded border bg-white text-blue-500 border-blue-500 p-2 hover:bg-blue-400 hover:no-underline hover:text-white"
                href="{% url 'administrador_turma_details' turma.id %}"
            >
                Acessar
            </a>
        </td>
        <td>
            <button
                class="rounded border bg-white text-red-500 border-red-500 px-2 py-1 hover:bg-red-400 hover:text-white"
                href="{% url 'administrador_turma_delete' turma.id %}"
                onclick="deleteTurma({{ turma.id }})"
            >
                <i class="bi bi-trash"></i> Delete
            </button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}


{% block dialogs %}
<div id="deleteTurma" class="bg-white rounded-lg border border-gray-400 p-3 text-black">
    <form id="formDeleteTurma" class=" w-56 h-24 flex justify-between flex-col mt-2" method="post">
        {% csrf_token %}
        <h2 class="font-bold text-xl mb-4 w-full text-center">Deletar turma?</h2>
        <div class="flex gap-2">
            <button type="button" class="bg-gray-400 hover:bg-gray-500 rounded px-2 py-1 text-white font-medium w-full" onclick="toggleModal('deleteTurma')">Cancelar</button>
            <button type="submit" class="bg-red-600 hover:bg-red-700 rounded px-2 py-1 text-white font-medium w-full">Confirmar</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    function deleteTurma(turma_id) {
        const form = document.getElementById("formDeleteTurma");
        form.action = `/administrador/turmas/${turma_id}/delete`;
        toggleModal('deleteTurma');
    }
</script>
{% endblock %}