{% extends 'administrador/generic_list.html' %}

{% block table %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Dsiciplina</th>
            <th>Semestre</th>
            <th>Acessar</th>
        </tr>
    </thead>

    {% for turma in turmas %}
    <tr>
        <td>{{ turma.id }}</td>
        <td>{{ turma.disciplina.nome }}</td>
        <td>{{ turma.semestre }}º semestre</td>
        <td>
            <a 
                class="rounded border bg-white text-blue-500 border-blue-500 p-2 hover:bg-blue-400 hover:no-underline hover:text-white"
                href="{% url 'administrador_turma_details' turma.id %}"
            >
                Acessar
            </a>
            </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}