{% extends "base.html" %}

{% block content %}
    <h1>Lista de Disciplinas</h1>
    <ul>
        {% for disciplina in object_list %}
            <li><a href="{% url 'disciplina_detail' disciplina.id %}">{{ disciplina.nome }}</a></li>
        {% endfor %}
    </ul>

    <h2>Criar Nova Disciplina</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Criar Disciplina</button>
    </form>

    <br><br>
    <a href="{% url 'administrator_dashboard' %}">Voltar para a painel de Administrador</a>
    
{% endblock %}
