{% extends "base.html" %}

{% block content %}
    <h1>Detalhes da Disciplina: {{ object.nome }}</h1>
    <p>Carga Horária: {{ object.carga_horaria }} horas</p>
    <p>Programa: {{ object.programa }}</p>

    <h2>Pré-requisitos</h2>
    <ul>
        {% for prerequisito in object.prerequisitos.all %}
            <li>{{ prerequisito.nome }}</li>
        {% endfor %}
    </ul>

    <h2>Turmas</h2>
    <ul>
        {% for turma in object.turmas.all %}
            <li><a href="{% url 'turma_detail' turma.id %}">{{ turma.semestre }} - {{ turma.disciplina.nome }}</a></li>
        {% endfor %}
    </ul>

    <h2>Atualizar Disciplina</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Atualizar Disciplina</button>
    </form>

    <h2>Excluir Disciplina</h2>
    <form method="post" action="{% url 'disciplina_delete' object.id %}">
        {% csrf_token %}
        <button type="submit">Excluir Disciplina</button>
    </form>

    <a href="{% url 'disciplina_list' %}">Voltar para a lista de disciplinas</a>
{% endblock %}
