{% extends 'base.html' %}

{% block content %}
    <h2>Login</h2>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="username">Username:</label>
            <input type="text" name="username" required>
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
        </p>
        <button type="submit">Login</button>
    </form>
    <p>Não tem uma conta? <a href="{% url 'register' %}">Registre-se aqui</a>.</p>
{% endblock %}

