{% extends 'base.html' %}

{% block content %}

<h2>Registrar Notas</h2>

<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Aluno</th>
            <th>Avaliação</th>
            <th>Nota</th>
        </tr>
        {% for aluno in alunos %}
            <tr>
                <td>{{ aluno.username }}</td>
                <td>
                    <select name="avaliacao_{{ aluno.id }}">
                        <option value="1">Avaliação 1</option>
                        <option value="2">Avaliação 2</option>
                        <option value="3">Avaliação 3</option>
                        <option value="4">Avaliação 4</option>
                    </select>
                </td>
                <td>
                    <input type="number" name="nota_{{ aluno.id }}" step="0.01" min="0" max="10" required>
                </td>
            </tr>
        {% endfor %}
    </table>
    <button type="submit">Salvar Notas</button>
</form>

<a href="{% url 'teacher_dashboard' %}">Voltar para o Painel do Professor</a>

{% endblock %}
