{% extends 'base.html' %}

{% block content %}
    <h2>Bem-vindo, Professor {{ user.username }}!</h2>
    <h3>Suas Turmas</h3>
    <ul>
        {% for turma in turmas %}
            <li><a href="{% url 'registrar_frequencia' turma.id %}">{{ turma.nome }} - {{ turma.disciplina }}</a></li>
        {% endfor %}
    </ul>

    <h3>Gerenciar Estudantes</h3>
    <ul>
        {% for turma in turmas %}
            <li><a href="{% url 'gerenciar_estudantes' turma.id %}">Adicionar/Remover Estudantes para {{ turma.nome }} - {{ turma.disciplina }}</a></li>
        {% endfor %}
    </ul>

    <h3>Notas e Frequência</h3>
    <ul>
        {% for turma in turmas %}
            <li>
                <a href="{% url 'registrar_frequencia' turma.id %}">Registrar Frequência para {{ turma.nome }} - {{ turma.disciplina }}</a>
            </li>
            <li>
                <a href="{% url 'registrar_nota' turma.id %}">Registrar Notas para {{ turma.nome }} - {{ turma.disciplina }}</a>
            </li>
        {% endfor %}
    </ul>

    <h3>Relatórios de Alunos</h3>
        <ul>
            {% for aluno in alunos %}
                <li><a href="{% url 'relatorio_aluno' aluno.id %}">{{ aluno.user.username }}</a></li>
            {% endfor %}
        </ul>

{% endblock %}
